* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #222;
    color: white;
    font-family: sans-serif;
    padding: 1rem;
}

.form-control{
    margin-top: 2px;
}

button{
    margin-top: 8px;
}

img{
    margin: 8px;
}

header{
    max-height: 50px;}




